<div *ngFor="let item of items">
  {{ item.date }}
</div>
<div class="row">
  <div class="col-md-1">
  </div>
  <div class="col-md-10">
    <h4>
      Week of {{ null }}
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    </h4>

    <table class="table table-bordered">
      <tr>
        <td>Date</td>
        <td>Time</td>
        <td>Instrument</td>
        <td>Rate</td>
        <td>Duration</td>
        <td>Slot Available?</td>
        <td>Location</td>
        <td>Schedule Class</td>
      </tr>
      <tr *ngFor="let item of calendars">
        <td>{{ item.date | date:'EEE yyyyMMMdd' | uppercase }}</td>
        <td>{{ item.date | date:'HH:MM'}}</td>
        <td>{{ item.instrument }}</td>
        <td>${{ item.rate }}</td>
        <td>{{ item.duration }}</td>
        <td>{{ item.slotAvailable }}</td>
        <td>{{ item.location }}</td>
        <td ><button (click)="scheduleRegister(item._id)" *ngIf="item.slotAvailable === true">✅</button></td>
      </tr>
    </table>








  </div>
  <div class="col-md-1">
  </div>

</div>
