
<div class="row">
  <div class="col-md-1">
  </div>
  <div class="col-md-10" >
    <table class="table table-hover">
      <tr>
        <td>Name</td>
        <td>Instrument</td>
        <td>Location</td>
        <td>Phone</td>
        <td>Email</td>
      </tr>
      <tr *ngFor="let item of items">
        <td><a [routerLink]="[item._id]"> {{ item.name }} </a> </td>
        <td>{{ item.instrument }}</td>
        <td>{{ item.location }}</td>
        <td>{{ item.phone }}</td>
        <td>{{ item.email }}</td>
      </tr>
    </table>
  </div>
  <div class="col-md-1">
  </div>
</div>
