
<!-- <a routerLink="/students"> Students </a> | <a routerLink="/teachers"> Teachers </a> -->
<div class="row">
  <div class="col-md-1">
  </div>
  <div class="col-md-3">
    <form>
      <h2> Login or Signup </h2>
      <table>
        <tr>
          <td>Username</td>
          <td><input type="text" [(ngModel)]="formInfo.username" name="username"/></td>
        </tr>
        <tr>
          <td>Password</td>
          <td><input type="password" [(ngModel)]="formInfo.password" name="password"/></td>
        </tr>
        <tr>
          <td></td>
          <td><button (click)="login()"> Login </button></td>
        </tr>
        <tr>
          <td>Name</td>
          <td><input  type="text" [(ngModel)]="formInfo.name" name="name" placeholder="Name" ></td>
        </tr>
        <tr>
          <td>Instrument</td>
          <td><input  type="text" [(ngModel)]="formInfo.instrument" name="instrument" placeholder="Instrument" ></td>
        </tr>
        <tr>
          <td>Location</td>
          <td><input type="text" [(ngModel)]="formInfo.location" name="location" placeholder="Miami, FL" value="Miami, FL" ></td>
        </tr>
        <tr>
          <td>Phone</td>
          <td><input type="text" [(ngModel)]="formInfo.phone" name="phone" placeholder="123-456-7890" ></td>
        </tr>
        <tr>
          <td>email</td>
          <td><input type="text" [(ngModel)]="formInfo.email" name="email" placeholder="Email" ></td>
        </tr>
        <tr>
          <td>I am a: </td>
          <td>
            <label>Student
            <input type="checkbox" [(ngModel)]="formInfo.student" ng-true-value="true" ng-false-value="false" name="student" placeholder="" >
            </label>
          </td>
        </tr>
        <tr>
          <td>I am a:
          <td>
            <label>Teacher
              <input type="checkbox" [(ngModel)]="formInfo.teacher" ng-true-value="true" ng-false-value="false" name="teacher" placeholder="" >
            </label>
          </td>
        </tr>

        <tr>
          <td></td>
          <td><button (click)="signup()"> Sign Up </button></td>
        </tr>

      </table>
    </form>
    <p class="error"> {{ error }} </p>


    <div *ngIf="user">
      <h4> You are now logged in as {{ user.username }}!! </h4>
      <!-- <h2> Create Your Profile</h2>
      <p> Here's the user object </p>
      <pre> {{ user | json }} </pre>

      <p *ngIf="privateData"> Here's some data fetched from a protected API </p>
      <pre> {{ privateData | json }} </pre>

      <button (click)="logout()"> logout </button>
      <button (click)="getPrivateData()"> Get private data </button>
    </div>
  </div>
  <div class="col-md-4 hidden">
    <h2>Request Student Profile</h2>
    <table>
      <tr>
        <td>Name</td>
        <td><input  type="text" [(ngModel)]="formInfo.name" name="name" placeholder="Name" required></td>
      </tr>
      <tr>
        <td>Instrument</td>
        <td><input  type="text" [(ngModel)]="formInfo.instrument" name="instrument" placeholder="Instrument" required></td>
      </tr>
      <tr>
        <td>Location</td>
        <td><input type="text" [(ngModel)]="formInfo.location" name="location" value="Miami, FL" required></td>
      </tr>
      <tr>
        <td>Phone</td>
        <td><input type="text" [(ngModel)]="formInfo.phone" name="phone" placeholder="123-456-7890" required></td>
      </tr>
      <tr>
        <td>email</td>
        <td><input type="text" [(ngModel)]="formInfo.email" name="email" placeholder="Email" required></td>
      </tr>
      <tr>
        <td><button class="btn btn-primary">Create Request</button></td>
        <td></td>
      </tr>

    </table>

  </div>
  <div class="col-md-4 hidden">
    <h2>Request Teacher Profile</h2>
    <table>
      <tr>
        <td>Name</td>
        <td><input type="text" [(ngModel)]="formInfo.name" name="name" placeholder="Name" required></td>
      </tr>
      <tr>
        <td>Instrument</td>
        <td><input type="text" [(ngModel)]="formInfo.instrument" name="instrument" placeholder="Instrument" required></td>
      </tr>
      <tr>
        <td>Location</td>
        <td><input type="text" [(ngModel)]="formInfo.location" name="location" value="Miami, FL" required></td>
      </tr>
      <tr>
        <td>Phone</td>
        <td><input type="text" [(ngModel)]="formInfo.phone" name="phone" placeholder="123-456-7890" required></td>
      </tr>
      <tr>
        <td>email</td>
        <td><input type="text" [(ngModel)]="formInfo.email" name="email" placeholder="Email" required></td>
      </tr>
      <tr>
        <td>bio</td>
        <td><input type="text" [(ngModel)]="formInfo.bio" name="bio"  placeholder="Describe Yourself" required></td>
      </tr>
      <tr>
        <td><button class="btn btn-primary">Create Request</button></td>
        <td></td>
      </tr>
    </table>

  </div>
</div> -->
