
<!-- <div class="row">
  <div class="col-md-1">
  </div>
  <div class="col-md-10 centerLanding">
    <h2>Hello Music Scheduler</h2>
  </div>
  <div class="col-md-1">
  </div>
</div>

<div class="row">
  <div class="col-md-1">
  </div>
  <div class="col-md-5">
    <h4>For the Students</h4>
      <ul>
        <li>Find and Schedule music lessons in your area</li>
      </ul>
  </div>
  <div class="col-md-5">
    <h4> For the Teachers</h4>
    <ul>
      <li>Schedule music lessons</li>
      <li>Manage your open/scheduled slots</li>
      <li>Manage Class Scheduling and Cancelling</li>
      <li>Manage Credit Card Payments</li>

    </ul>

  </div>

  <div class="col-md-1">
  </div>
</div> -->



<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1>Welcome to the Music Scheduler</h1>
    <p>This tool will help you search and schedule private music lessons for students of all ages.</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">

      <h4>For the Students</h4>
        <ul>
          <li>Find and Schedule music lessons in your area</li>
          <li>Manage last minute cancellations</li>
          <li>Search for the teachers who can help your child achieve their goals faster.</li>
        </ul>


      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    </div>
    <div class="col-md-4">

      <h4> For the Teachers</h4>
      <ul>
        <li>Schedule music lessons</li>
        <li>Manage your open/scheduled slots</li>
        <li>Manage Class Scheduling and Cancelling</li>
        <li>Manage Credit Card Payments</li>

      </ul>


      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
   </div>
    <div class="col-md-4">
      <h4>Music Students Acheive More</h4>
      <p>Learn how music lessons can help your child succeed.</p>
      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    </div>
  </div>

  <hr>

  <footer>
    <p>&copy; 2017</p>
  </footer>
</div> <!-- /container -->
