<p>Person {{ person._id }}</p>
<div class="row">
  <div class="col-md-1">
  </div>
  <div class="col-md-5">
    <div class="col-md-5">
      <h2>Upcoming Scheduled Classes</h2>
        <p>Filter for Classes by User._id and slotAvailable === true.</p>
        <p>Include Cancel Class Button</p>
        <h4>
          Week of {{ null }}
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        </h4>
        <table class="table table-bordered">
          <tr>
            <td>Monday</td>
            <td>Tuesday</td>
            <td>Wednesday</td>
            <td>Thursday</td>
            <td>Friday</td>
            <td>Saturday</td>
            <td>Sunday</td>
          </tr>
          <tr>
            <td>17:30<br>Piano<br>Vrusk</td>
            <td></td>
            <td></td>
            <td>18:00<br>Drums<br>Jones</td>
            <td></td>
            <td></td>
            <td></td>

          </tr>

        </table>

    </div>

  </div>
  <div class="col-md-6">
    <h2>Student Profile</h2>
    <table *ngFor="let item of items">
      <tr>
        <td>Name: </td>
        <td>{{ item.name}}</td>
      </tr>
      <tr>
        <td>Instrument: </td>
        <td>{{ item.instrument }}</td>
      </tr>
      <tr>
        <td>Phone: </td>
        <td>{{ item.phone }}</td>
      </tr>
      <tr>
        <td>Email: </td>
        <td>{{ item.email }}</td>
      </tr>

    </table>
  </div>

</div>
