<div class="row">
  <div class="col-md-1">
  </div>
    <div class="col-md-5">
      <h2>Scheduled Classes</h2>
        <h4>
          Week of {{ null }}
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        </h4>
        <table class="table table-bordered">
          <tr>
            <td>Date</td>
            <td>Time</td>
            <td>Instrument</td>
            <td>Rate</td>
            <td>Duration</td>
            <td>Slot Available?</td>
            <td>Schedule Class</td>
          </tr>
          <tr *ngFor="let item of myCalendar">
            <td>{{ item.date | date:'EEE yyyyMMMdd' | uppercase}}</td>
            <td>{{ item.date | date:'HH:MM'}}</td>
            <td>{{ item.instrument }}</td>
            <td>${{ item.rate }}</td>
            <td>{{ item.duration }}</td>
            <td>{{ item.slotAvailable }}</td>
            <td>
                <button (click)="deleteSchedule(item._id)">❌</button>
            </td>

          </tr>
        </table>

        <h2>Open Classes</h2>
          <h4>
            Week of {{ null }}
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          </h4>
          <table class="table table-bordered">
            <tr>
              <td>Date</td>
              <td>Time</td>
              <td>Instrument</td>
              <td>Rate</td>
              <td>Duration</td>
              <td>Slot Available?</td>
              <td>Schedule Class</td>
            </tr>
            <tr *ngFor="let item of calendars">
              <td>{{ item.date | date:'EEE yyyyMMMdd' | uppercase }}</td>
              <td>{{ item.date | date:'HH:MM'}}</td>
              <td>{{ item.instrument }}</td>
              <td>${{ item.rate }}</td>
              <td>{{ item.duration }}</td>
              <td>{{ item.slotAvailable }}</td>
              <td><button (click)="scheduleRegister(item._id)">✅</button></td>


            </tr>
          </table>



    </div>

  <div class="col-md-6">
    <h2>Student Profile</h2>
    <table class="table table-striped">
      <tr>
        <td>Name: </td>
        <td>{{ person.name}}</td>
      </tr>
      <tr>
        <td>Instrument: </td>
        <td>{{ person.instrument }}</td>
      </tr>
      <tr>
        <td>Phone: </td>
        <td>{{ person.phone }}</td>
      </tr>
      <tr>
        <td>Email: </td>
        <td>{{ person.email }}</td>
      </tr>
      <tr>
        <td>Account Type: </td>
        <td *ngIf="person.teacher === true">Teacher</td>
        <td *ngIf="person.student === true">Student</td>
      </tr>


    </table>
  </div>

</div>
