<p>
  teacher-detail works!
</p>
<p>Person: {{ person.name }}</p>
<p>Calendars: {{ calendars }}</p>

<div class="row">
  <div class="col-md-1">
  </div>
  <div class="col-md-5">
    <h2>Upcoming Scheduled Classes</h2>
      <p>Filter for Classes by User._id and slotAvailable === true.</p>
      <p>Include Student Details</p>
      <p>Include Cancel Class Button</p>
      <h4>
        Week of {{ null }}
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      </h4>
      <table class="table table-bordered">
        <tr>
          <td>Date</td>
          <td>Time</td>
          <td>Instrument</td>
          <td>Rate</td>
          <td>Duration</td>
          <td>Teacher ID</td>
          <td>Slot Available?</td>
          <td>Delete</td>
        </tr>
        <tr *ngFor="let item of calendars">
          <td>{{ item.date | date:'EEE yyyyMMMdd'}}</td>
          <td>{{ item.date | date:'HH:MM'}}</td>
          <td>{{ item.instrument }}</td>
          <td>${{ item.rate }}</td>
          <td>{{ item.duration }}</td>
          <td>{{ item }}</td>
          <td>{{ item.slotAvailable }}</td>
          <td><button routerLink="localhost:3000/scheduledelete/{{ item.id }}" class="">🚮</button></td>

        </tr>
      </table>

    <h2>Upcoming Open Classes</h2>
      <p>Filter for Classes by User._id and slotAvailable === false
      <p>Include Student Details</p>
      <p>Include Cancel Class Button</p>
  </div>

  <div class="col-md-6">
    <h2>Teacher Profile</h2>
    <table class="table table-hover" *ngFor="let item of items">
      <tr>
        <td>Name: </td>
        <td>{{ item.name }}</td>
      </tr>
      <tr>
        <td>Instrument: </td>
        <td>{{ item.instrument }}</td>
      </tr>
      <tr>
        <td>Phone: </td>
        <td>{{ item.phone }}</td>
      </tr>
      <tr>
        <td>Email: </td>
        <td>{{ item.email }}</td>
      </tr>
      <tr>
        <td>Bio: </td>
        <td>{{ item.bio }}</td>
      </tr>

    </table>
  </div>

</div>
